.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    color: white;
}

#hibyewhy {
    font-size: 18px;
    color: black;
}

canvas {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}